

<div class="input-group mb-3" style="width: 50%;" >
    <button 
    class="btn btn-primary" 
    style="margin-bottom: 10px;"
    (click)="onPressDisplay()"
    >
    Display Details
</button>
<!-- <p [ngStyle]="{'display': displayStylePress}"> -->
<p>
    Maintained by a dedicated team at Google, Angular provides a broad suite of tools, APIs,
           and libraries to simplify and streamline your development workflow. Angular gives you a solid platform on which to build fast,
           reliable applications that scale with both the size of your team and the size of your codebase.
</p> 
<span 
    [ngStyle]="{'background-color': backgroundColorAfter5Press,'width': '50px'}"
    [ngClass]="colorAfter5PressClass">
    {{isPressCounter}}
</span>
</div>